<%- include ../sellbuylayouts/header.ejs %>
<section>
    <div class="background-image-maker gradient gradient-lr"></div>
    <div class="holder-image">
        <img src="images/bg2.jpg" alt="" class="img-fluid d-none" />
    </div>
    <div class="black-overlay overlay-full"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 justify-content-center text-center">
                <h1 class="text-white c-font-weight-700">Add Car</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Page Inner-->

<!-- Breadcrumb -->
<section class="py-0 h-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-5 col-lg-3 text-center">
                <ol class="breadcrumb justify-content-center mb-0 c-bg-primary text-white py-3 position-relative">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Add Car</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumb -->

<!-- Sell Car -->

<!-- End Sell Car -->

<!-- Post Ad -->
<section class="pt-0">
    <div class="container loginseller">
        <div class="row">
            <div class="col-12 col-sm-7">
                <h3>Post Your Ad</h3>
                <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card c-brd-light condition">
                    <div class="card-body">
                         <form id="my_post" action="/add_description" method="post">
                        <div class="row">
                             
                            
                              <div class="col-12 col-sm-6 col-lg-4">
                                 <label class="c-dark">Car Description</label>
                               
                                     <div class="form-group position-relative">
                                       <textarea name="car_desc" rows="2" cols="97" class="mobilesss">
                                       

                                       </textarea>

                                    </div>
                                
                            </div>
                            <div id="mydiv"></div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                 <label class="c-dark">This Car Comes With</label>
                                
                                     <div class="form-group position-relative">
                                       <textarea name="car_comes" rows="2" cols="97" class="mobilesss"></textarea>
                                    
                                </div>
                            </div>

                          <!--  <div class="col-12 col-sm-6 col-lg-4">
                                 <label class="c-dark">Economy & performance</label>
                               
                                     <div class="form-group position-relative">
                                       <textarea name="car_eco" rows="2" cols="97" class="mobilesss"></textarea>
                                   
                                </div>
                            </div> -->
                           <div class="col-12 col-sm-6 col-lg-4">
                                 <label class="c-dark">Driver Convenience</label>
                                
                                     <div class="form-group position-relative">
                                       <textarea name="car_driver" rows="2" cols="97" class="mobilesss"></textarea>
                                    </div>
                                
                            </div>

                            <div class="col-12 col-sm-6 col-lg-4">
                                 <label class="c-dark">Safety</label>
                               
                                     <div class="form-group position-relative">
                                       <textarea name="car_safety" rows="2" cols="97" class="mobilesss"></textarea>
                                    </div>
                                
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                 <label class="c-dark">Exterior Features</label>
                                
                                      <div class="form-group position-relative">
                                       <textarea name="car_efeatures" rows="2" cols="97" class="mobilesss"></textarea>
                                    </div>
                                
                            </div>
                           <div class="col-12 col-sm-6 col-lg-4">
                                 <label class="c-dark">Interior Features</label>
                                
                                      <div class="form-group position-relative">
                                       <textarea name="car_ifeatures" rows="2" cols="97" class="mobilesss"></textarea>
                                    </div>
                                
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                 <label class="c-dark">Technical</label>
                              
                                      <div class="form-group position-relative">
                                       <textarea name="car_technical" rows="2" cols="97" class="mobilesss"></textarea>
                                    </div>
                               
                            </div>
                           <div class="col-12 col-sm-6 col-lg-4">
                                 <label class="c-dark">Dimensions</label>
                               
                                      <div class="form-group position-relative">
                                       <textarea name="car_dimensions" rows="2" cols="97" class="mobilesss"></textarea>
                                    </div>
                                
                            </div>
                       
                           
                            <div class="col-12 col-sm-4 col-lg-2 ml-auto mt-3 mt-sm-0">
                                <button type="submit"  class="btn btn-primary btn-md btn-block text-uppercase" >Next</button> 
                            </div>
                        
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <%- include ../sellbuylayouts/footer.ejs %>  
 <script src="/js/jquery-3.3.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
 <script src="//cdn.ckeditor.com/4.11.2/basic/ckeditor.js"></script>
  <!-- <script>
   CKEDITOR.replace( 'car_desc' );
   CKEDITOR.replace( 'car_comes' );
 </script> -->
<script>
    var html ='';
    var myvar;
    function GetParameterValues(car_id) {
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        //console.log(url)
        for (var i = 0; i < url.length; i++) {
            var urlparam = url[i].split('=');
           // console.log(urlparam[1])
             myvar = urlparam[1];
        }

         
          html+='<input type="hidden" name="carid" value="' + urlparam[1] + '"/>';
         
         $('#mydiv').html(html);




    }
    GetParameterValues();


   var base_url = window.location.origin;
     $(document).on('submit','#my_post',function(e){
        e.preventDefault();
        var formData = new FormData(this);  
        //console.log('here')                
        $.ajax({
        type:'POST',
        url:$(this).attr('action'),
        data:formData,
        cache:false,
        contentType:false,
        processData:false,                      
        success:function(data){
           //   alert(data.message)
           
           var sell = JSON.parse(data.product_id);
           //console.log(sell[0].id);
         if(data.success = 1){
         window.location.href = base_url+  "/addpicture#link?car_id="+ sell[0].id;

      }else{
         location.reload();

       }
    },
 },'json');
 });


 </script>





   
