<%- include ../sellbuylayouts/header.ejs %>
<!-- Slider-->
<style>
    .form-group {
    margin-bottom: 0px;
    width: 48%;
    float: left;
    margin-left: 6px;
   }
   .secion1 {
   		background: url('images/slider1.jpg');
   	 	padding: 24% 0 !important;
		background-size: 100% 100%;
   	 	height: 500px;
   }
</style>
<section  class="py-0 secion1">
	<div class="owl-text-overlay">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-5 col-lg-6">
					<h4 class="text-white text-center">Find the Right Car for you</h4>
					<div class="row form-main">
						<div class="col-3 pr-0">
							<ul class="nav flex-column nav-pills text-uppercase font-weight-bold text-center" id="myTab" role="tablist">
								<li class="nav-item mb-1">
									<a class="nav-link redial-light rounded-left active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true" aria-expanded="true">New</a>
								</li>
								<li class="nav-item">
									<a class="nav-link redial-light rounded-left" data-toggle="tab" href="#tab2" role="tab" aria-selected="false" aria-expanded="false">Used</a>
								</li>
							</ul>
						</div>
						<div class="col-9 pl-0">
							<div class="tab-content bg-white rounded-bottom rounded-right full-block" id="myTabContent2">
								<div class="tab-pane fade active show" id="tab1" role="tabpanel" aria-expanded="true">
									<div class="card-body p-4">
										<div class="tab-content bg-white rounded-bottom rounded-right" id="myTabContent3">
											<div class="tab-pane fade active show" id="id1" role="tabpanel" aria-expanded="true">
												<form method="get" class="srchfrm" action="search-cars?onesearchad=New">
													<input type="hidden" name="onesearchad" value="All">
														<div class="form-group">
															<label>Post Code</label>
															<input type="text" name="postal_code" class="form-control" placeholder="Enter Post Code" required>
															<input type="hidden" name="radius">
															</div>
															<div class="form-group">
																<label>Distance</label>
																<select class="form-control distance" name="distance">
																	<option value="1500">Distance(National)</option>
																</select>
															</div>
															<div class="form-group">
																<label>Make</label>
																<select class="form-control make_filter" name="make">
																	<option value="">--- Select Make ---</option>
																</select>
															</div>
															<div class="form-group">
																<label>Model</label>
																<select class="form-control model_filter" name="model">
																	<option value="">--- Select Model ---</option>
																</select>
															</div>
															<div class="form-group">
																<label>Min Price</label>
																<select class="form-control min_price" name="price_from">
																	<option value="">--- Min Price ---</option>
																</select>
															</div>
															<div class="form-group">
																<label>Max Price</label>
																<select class="form-control max_price" name="price_to">
																	<option value="">--- Max Price ---</option>
																</select>
															</div>
															<button class="btn btn-primary btn-block btn-md text-uppercase font-weight-bold">Find Car&nbsp(
																<b class="counttxt"></b>)
															</button>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="tab2" role="tabpanel" aria-expanded="false">
											<div class="card-body p-4">
												<div class="tab-content bg-white rounded-bottom rounded-right" id="myTabContent3">
													<div class="tab-pane fade active show" id="id3" role="tabpanel" aria-expanded="true">
														<form method="GET" class="" action="search-cars">
															<div class="form-group">
																<input type="hidden" name="onesearchad" value="All">
																	<input type="hidden" name="radius">
																	<label>Post Code</label>
																	<input type="text" name="postal_code" class="form-control" placeholder="Enter Post Code" required>
																	</div>
																	<div class="form-group">
																		<label>Distance</label>
																		<select class="form-control distance" name="distance">
																			<option value="1500">Distance(National)</option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label>Make</label>
																		<select class="form-control make_filter" name="make">
																			<option value="">--- Select Make ---</option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label>Model</label>
																		<select class="form-control model_filter" name="model">
																			<option value="">--- Select Model ---</option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label>Min Price</label>
																		<select class="form-control min_price" name="price_from">
																			<option value="">--- Min Price ---</option>
																		</select>
																	</div>
																	<div class="form-group">
																		<label>Max Price</label>
																		<select class="form-control max_price" name="price_to">
																			<option value="">--- Max Price ---</option>
																		</select>
																	</div>
																	<button class="btn btn-primary btn-block btn-md text-uppercase font-weight-bold">Find Car&nbsp(
																		<b class="counttxt"></b>)
																	</button>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Slider-->
				<!-- Car Deals-->
				<!-- End Car Deals-->
				<!-- Car Featured-->
				<!-- End Car Featured-->
				<section>
					<div class="container">
						<div class="col-md-12 about-company">
							<h1>About Our Company</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

							</p>
						</div>
					</div>
				</section>
				<section class="image-bg">
					<div class="background-image-maker"></div>
					<div class="holder-image">
						<img src="images/bg1.jpg" alt="" class="img-fluid d-none" />
					</div>
					<div class="black-overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 d-flex justify-content-center pb-4">
								<p style="color: #fff; text-align: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

								</p>
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="container">
						<div class="row d-flex justify-content-center text-center">
							<div class="col-12 col-lg-6 pb-3">
								<h3>Browse Cars by Top Brands</h3>
								<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
							</div>
						</div>
						<div id="owl-client" class="owl-carousel owl-theme">
							<div class="item">
								<div class="row">
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4">
										<a href="search-cars?onesearchad=Cadillac&make=Cadillac">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand1.png" alt="Cadillac" title="Cadillac" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4">
										<a href="search-cars?onesearchad=Acura&make=Acura">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand2.png" alt="Acura" title="Acura" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4">
										<a href="search-cars?onesearchad=Chevrolet&make=Chevrolet">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand3.png" alt="Chevrolet" title="Chevrolet" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4">
										<a href="search-cars?onesearchad=Bugatti&make=Bugatti">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand4.png" alt="Bugatti" title="Bugatti" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4">
										<a href="search-cars?onesearchad=Mazda&make=Mazda">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand5.png" alt="Mazda" title="Mazda" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4">
										<a href="search-cars?onesearchad=Bentley&make=Bentley">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand6.png" alt="Bentley" title="Bentley" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4 mb-xl-0">
										<a href="search-cars?onesearchad=Lamborghini&make=Lamborghini">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand7.png" alt="Lamborghini" title="Lamborghini" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4 mb-xl-0">
										<a href="search-cars?onesearchad=Jaguar&make=Jaguar">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand8.png" alt="Jaguar" title="Jaguar" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4 mb-xl-0">
										<a href="search-cars?onesearchad=Porsche&make=Porsche">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand9.png" alt="Porsche" title="Porsche" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4 mb-sm-0">
										<a href="search-cars?onesearchad=Audi&make=Audi">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand10.png" alt="Audi" title="Audi" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2 mb-4 mb-sm-0">
										<a href="search-cars?onesearchad=Ford&make=Ford">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand11.png" alt="Ford" title="Ford" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
									<div class="col-12 col-sm-6 col-md-4 col-xl-2">
										<a href="search-cars?onesearchad=Hyundai&make=Hyundai">
											<div class="card c-brd-light rounded-0 text-center">
												<div class="card-body py-0">
													<img src="images/brand12.png" alt="Hyundai" title="Hyundai" class="img-fluid" />
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" id="make">
					<input type="hidden" id="model">
					<input type="hidden" id="postal_code">
					<input type="hidden" id="radius" value="1500">
				</section>
	<!-- End Subscribe--><%- include ../sellbuylayouts/footer.ejs %>
<script type="text/javascript">
    if (!window.location.origin) {
      window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
    }
    function GetParameterValues(param) {
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < url.length; i++) {
            var urlparam = url[i].split('=');
            if (urlparam[0] == param) {
                return urlparam[1];
            }
        }
    }
    $(document).on('change','input[name=postal_code]',function(){
        $('#postal_code').val($(this).val())
        search_results()
    })
    $(document).on('change','select[name=distance]',function(){
        $('#radius').val($(this).val())
        search_results()
    })

    function get_filter_value(param) {
        var value = $('#' + param).val();
        if (value == undefined) {
            value = GetParameterValues(param);
        }
        if (value == undefined) {
            value = '';
        }
        return value;
    }
    $(document).on('change','form select.make_filter',function(e){
        // alert($(this).val())
        $('#make').val($(this).val())
        $('#model').val('')
        search_results()

    })
    $(document).on('change','form select.model_filter',function(e){
        // alert($(this).val())
        $('#model').val($(this).val())
        search_results()

    })
    search_results()
    function search_results() {
        var base_url = window.location.origin;
        var formData = 
        {
            postal_code: 'WV23AQ',//get_filter_value('postal_code'),
            make: get_filter_value('make'),
            model: get_filter_value('model'),
            radius: get_filter_value('radius'),
            aggregatedTrim: get_filter_value('aggregatedTrim'),
            onesearchad: get_filter_value('onesearchad'),
            sort: get_filter_value('sort'),
            price_from: get_filter_value('price_from'),
            price_to: get_filter_value('price_to'),
            year_from: get_filter_value('year_from'),
            year_to: get_filter_value('year_to'),
            mileage_from: get_filter_value('mileage_from'),
            mileage_to: get_filter_value('mileage_to'),
            body_type: get_filter_value('body_type'),
            fuel_type: get_filter_value('fuel_type'),
            minimum_badge_engine_size: get_filter_value('minimum-badge-engine-size'),
            maximum_badge_engine_size: get_filter_value('maximum-badge-engine-size'),
            fuel_consumption: get_filter_value('fuel_consumption'),
            zero_to_60: get_filter_value('zero-to-60'),
            transmission: get_filter_value('transmission'),
            drivetrain: get_filter_value('drivetrain'),
            co2_emissions_cars: get_filter_value('co2-emissions-cars'),
            quantity_of_doors: get_filter_value('quantity-of-doors'),
            minimum_seats: get_filter_value('minimum-seats'),
            maximum_seats: get_filter_value('maximum-seats'),
            insuranceGroup: get_filter_value('insuranceGroup'),
            annual_tax_cars: get_filter_value('annual-tax-cars'),
            colour: get_filter_value('colour'),
            seller_type: get_filter_value('seller-type'),
            page: get_filter_value('page'),
        }
        //$('#loading').css('display', 'block')
        $.when(
                $.getJSON(base_url + '/auto-search-results', formData), $.getJSON(base_url + '/motors-filter-search', formData).error(function (jqXHR, textStatus, errorThrown) {
            console.log("Encounter error " + textStatus + ". " + errorThrown);
        })).then(function (data, result) {
            result = result[0]
            data = data[0]
            $('.counttxt').text(parseInt(data.html1.count.replace('cars found', '').replace(',', '')) + parseInt(result.data.RecordCount) + ' cars found')
            $('.make_filter').html('<option value="">Any</option>')
            var make_count = '';
            // $('<div>' + data.html1.fields[1].html + '</div>').find('div').each(function (key, value) {
              $.each(data.filters.make,function(key ,value){
               var i = 0
                var mc = value.count.replace(',','');
                make_count = mc;
                for (i; i < result.data.MakeModels.length; i++) {
                    if (result.data.MakeModels[i].Id.replace('Makes_','') == value.text){
                        make_count = parseInt(result.data.MakeModels[i].Counter) + parseInt(mc);
                        // console.log(parseInt(result.data.MakeModels[i].Counter) + '--' + value.text + '--' + parseInt(mc))
                    }
                }
               
                $('.make_filter').append('<option value="' + value.text + '">' + value.value +'(' + make_count + ')</option>')
                
            })
            var htmlModels;
            result.data.MakeModels.filter(function (model) {
                if (model.Id == 'Makes_' + formData.make) {
                    htmlModels = model.Models
                }
            });
            console.log(htmlModels)
            var model_count;
            $('.model_filter').html('<option value="">Any</option>')
            $('<div>' + data.html1.fields[2].html + '</div>').find('div').each(function (key, value) {
                var i = 0
                var mc = parseInt($(this).find('.count').text().replace(',','').replace('(','').replace(')',''))
                var model_count = mc;
                if(result.data.RecordCount != 0){
                    for (i; i < htmlModels.length; i++) {
	                    if (htmlModels[i].Id.replace('Models_','') == $(this).find('.term').text()){
	                        model_count = htmlModels[i].Counter + parseInt(mc);
	                    }
	                }
                }
                $('.model_filter').append('<option value="' + $(this).find('.term').text() + '">' + $(this).find('.term').text()+'('+model_count+')</option>')
            })

              $('.distance').html('<option value="1500">Distance(National)</option>')
            $('<div>' + data.html1.fields[0].html + '</div>').find('div').each(function (key, value) {
                $('.distance').append('<option value="' + $(this).data('selected-value') + '">' + $(this).data('selected-display-name') + '</option>')
            })
              $('.min_price').html('')
            $('<div>' + data.html1.fields[4].minField.html + '</div>').find('option').each(function (key, value) {
                $('.min_price').append('<option value="' + $(this).val() + '">' + $(this).text() + '</option>')
            })
            $('.max_price').html('')
            $('<div>' + data.html1.fields[4].maxField.html + '</div>').find('option').each(function (key, value) {
                $('.max_price').append('<option value="' + $(this).val() + '">' + $(this).text() + '</option>')
            })


            localStorage.setItem("postal_code", formData.postal_code);
            $('form select.make_filter').val(formData.make)
            $('form select.model_filter').val(formData.model)
            $('form input[name=radius]').val(formData.radius)
            $('#make').val(formData.make)
            $('#radius').val(formData.radius)
            $('form select[name=distance]').val(formData.radius)
        });
    }

    $('input[name=postal_code]').val(localStorage.postal_code)
        </script>