  <%- include ../sellbuylayouts/header.ejs %>
    <div class="col-md-4">
      <div id="signup" class="popupContainer bg-white">
        <header class="popupHeader p-3 text-uppercase">
            <span class="header_title font-weight-bold c-dark">Login</span>
        </header>
        <style>
          .abcRioButton.abcRioButtonLightBlue {
    height: 36px;
    width: 30%;
    background: #0061c5;
    color: #fff;
    float: left;
}
        </style>
        <div class="card-body">
            <!-- Social Login -->						
            <!-- Username & Password Login form -->
            <div class="user_login">
                <form id="login_form" action="/user_login" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control rounded-0" name="user_name" id="user_name" placeholder="username or email address" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control rounded-0" name="password" id="password" placeholder="password" />
                    </div>
                    <div class="checkbox form-group">
                        <input id="remember" type="checkbox" />
                        <label for="remember">Remember me on this computer</label>
                    </div>
                    <div class="action_btns form-group">
                        <button type="submit" class="btn btn-primary btn-md btn-block">Login</button>
                    </div>
                    <div class="form-group mb-0 text-center">
                        <p>Sign in with your social network</p>
                        <ul class="list-inline footer-social mb-2">
                            <!-- <li class="list-inline-item"><a href="/google"><i class="fa fa-google-plus pr-3"></i></a></li> -->
                            <div class="g-signin2" data-onsuccess="onSignIn"></div>
                              <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" onclick="testAPI()">
                              </fb:login-button>
                        </ul>
                       
                    </div>  
                </form>
            </div>
        </div>
    </div>
  </div>
 <%- include ../sellbuylayouts/footer.ejs %>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    



     <script>
   var base_url = window.location.origin;
     $(document).on('submit','#login_form',function(e){
       // alert('ok');
                    e.preventDefault();
                    if($('#user_name').val() == ''){
                     alert('User Name or Email Address is Required!!');
                     document.getElementById("user_name").focus();
                     return false;

                    
                    }else if($('#password').val() == ''){
                        
                       alert('Password is Required!!');
                       document.getElementById("password").focus();
                      return false;

                    }else{ 
                    var formData = new FormData(this);  
                    console.log()                
                    $.post({
                        type:'POST',
                        url:$(this).attr('action'),
                        data:formData,
                        cashe:false,
                        contentType:false,
                        processData:false,                      
                        success:function(data){
                         //  alert(data)
                         if(data.success == 1){
                             toastr.success(data.message);
                             window.setTimeout(function() {
                              window.location.href = base_url + '/sellcar';
                                   }, 1000);
                          //  window.location.href = "http://localhost:3000/sellcar";

                          }else{
                            
                            toastr.error(data.message);
                            setTimeout(function(){
                             location.reload();
                             }, 1000);
                          }},

                        
                       
                    },'json');
                 }
                 
                });


  function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

           var id = profile.getId();
           var email = profile.getEmail();
           var name = profile.getName();
           var base_url = window.location.origin;
            
             $.get(base_url + '/google_login?id=' + id + '&sid=' + email +'&vid=' + name ,function(res){
                       
                        if(res.success = 1){
                        
                        window.location.href = "http://sellbuymotors.co.uk/sellcar";
                                        
                        }else{


                          console.log('here')

                        }
                    },'json');   


}
     
      </script>

      <script>
    function signOut() {
    console.log('User signed out.');
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      window.location.href = "http://sellbuymotors.co.uk/login";
      console.log('User signed out.');
    });
  }

    // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          testAPI();
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          console.log("The person is logged into Facebook, but not your app.");
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId: '341009723381633',
          cookie: true, // enable cookies to allow the server to access 
          // the session
          xfbml: true, // parse social plugins on this page
          version: 'v2.2' // use version 2.2
        });

        // Now that we've initialized the JavaScript SDK, we call 
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me','GET', {fields: 'first_name,last_name,name,id,email'}, function(response) {
          console.log("Fb response");
          console.log(response);
          console.log('Successful login for: ' + response.name);
          var id = response.id;
          var name = response.name;
          var email = response.email;
          console.log(email);
        //  console.log('Successful login for: ' + response.id);
          $.get(base_url + '/facebook_login?id=' + id + '&sid=' + email +'&vid=' + name ,function(res){
                       
                        if(res.success = 1){
                        
                        window.location.href = "http://sellbuymotors.co.uk/sellcar";
                                        
                        }else{


                          console.log('here')

                        }
                    },'json');   

        });
         
      }
</script>
</body>
</html>