  <%- include ../sellbuylayouts/header.ejs %>
    <div class="col-md-4">
      <div id="signup" class="popupContainer bg-white">
        <header class="popupHeader p-3 text-uppercase">
            <span class="header_title font-weight-bold c-dark">Login</span>
        </header>
        <style>
          .abcRioButton.abcRioButtonLightBlue {
    height: 36px;
    width: 30%;
    background: #0061c5;
    color: #fff;
    float: left;
}
        </style>
        <div class="card-body">
            <!-- Social Login -->						
            <!-- Username & Password Login form -->
            <div class="user_login">
                <form id="login_form" action="/user_login" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control rounded-0" name="user_name" id="user_name" placeholder="username or email address" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control rounded-0" name="password" id="password" placeholder="password" />
                    </div>
                    <div class="checkbox form-group">
                        <input id="remember" type="checkbox" />
                        <label for="remember">Remember me on this computer</label>
                    </div>
                    <div class="action_btns form-group">
                        <button type="submit" class="btn btn-primary btn-md btn-block">Login</button>
                    </div>
                    <div class="form-group mb-0 text-center">
                        <p>Sign in with your social network</p>
                        <ul class="list-inline footer-social mb-2">
                            <!-- <li class="list-inline-item"><a href="/google"><i class="fa fa-google-plus pr-3"></i></a></li> -->
                            <div class="g-signin2" data-onsuccess="onSignIn"></div>
                  <a href="javascript:void(0);" onclick="fbLogin()" id="fbLink"><img src="/images/fblogin.png"/></a>
                             <div id="status"></div>
                             <div id="userData"></div>
                        </ul>
                       
                    </div>  
                </form>
            </div>
        </div>
    </div>
  </div>
 <%- include ../sellbuylayouts/footer.ejs %>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    



     <script>
   var base_url = window.location.origin;
     $(document).on('submit','#login_form',function(e){
       // alert('ok');
                    e.preventDefault();
                    if($('#user_name').val() == ''){
                     alert('User Name or Email Address is Required!!');
                     document.getElementById("user_name").focus();
                     return false;

                    
                    }else if($('#password').val() == ''){
                        
                       alert('Password is Required!!');
                       document.getElementById("password").focus();
                      return false;

                    }else{ 
                    var formData = new FormData(this);  
                    console.log()                
                    $.post({
                        type:'POST',
                        url:$(this).attr('action'),
                        data:formData,
                        cashe:false,
                        contentType:false,
                        processData:false,                      
                        success:function(data){
                         //  alert(data)
                         if(data.success == 1){
                             toastr.success(data.message);
                             window.setTimeout(function() {
                              window.location.href = base_url + '/sellcar';
                                   }, 1000);
                          //  window.location.href = "http://localhost:3000/sellcar";

                          }else{
                            
                            toastr.error(data.message);
                            setTimeout(function(){
                             location.reload();
                             }, 1000);
                          }},

                        
                       
                    },'json');
                 }
                 
                });


  function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

           var id = profile.getId();
           var email = profile.getEmail();
           var name = profile.getName();
           var base_url = window.location.origin;
            
             $.get(base_url + '/google_login?id=' + id + '&sid=' + email +'&vid=' + name ,function(res){
                       
                        if(res.success = 1){
                        
                        window.location.href = "http://sellbuymotors.co.uk/sellcar";
                                        
                        }else{


                          console.log('here')

                        }
                    },'json');   


}
     
      </script>

      <script>
    function signOut() {
    console.log('User signed out.');
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      window.location.href = "http://sellbuymotors.co.uk/login";
      console.log('User signed out.');
    });
  }


</script>
<script>
window.fbAsyncInit = function() {
    // FB JavaScript SDK configuration and setup
    FB.init({
      appId      : '341009723381633', // FB App ID
      cookie     : true,  // enable cookies to allow the server to access the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });
    
    // Check whether the user already logged in
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            //display user data
            getFbUserData();
        }
    });
};

// Load the JavaScript SDK asynchronously
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// Facebook login with JavaScript SDK
function fbLogin() {
    FB.login(function (response) {
        if (response.authResponse) {
            // Get and display the user profile data
            getFbUserData();
            console.log(response);
        } else {
            document.getElementById('status').innerHTML = 'User cancelled login or did not fully authorize.';
        }
    }, {scope: 'email'});
}

// Fetch the user profile data from facebook
function getFbUserData(){
    FB.api('/me', {locale: 'en_US', fields: 'id,first_name,last_name,email,link,gender,locale,picture'},
    function (response) {
        document.getElementById('fbLink').setAttribute("onclick","fbLogout()");
        document.getElementById('fbLink').innerHTML = 'Logout from Facebook';
        document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.first_name + '!';
        document.getElementById('userData').innerHTML = '<p><b>FB ID:</b> '+response.id+'</p><p><b>Name:</b> '+response.first_name+' '+response.last_name+'</p><p><b>Email:</b> '+response.email+'</p><p><b>Gender:</b> '+response.gender+'</p><p><b>Locale:</b> '+response.locale+'</p><p><b>Picture:</b> <img src="'+response.picture.data.url+'"/></p><p><b>FB Profile:</b> <a target="_blank" href="'+response.link+'">click to view profile</a></p>';
    });
}

// Logout from facebook
function fbLogout() {
    FB.logout(function() {
        document.getElementById('fbLink').setAttribute("onclick","fbLogin()");
        document.getElementById('fbLink').innerHTML = '<img src="fblogin.png"/>';
        document.getElementById('userData').innerHTML = '';
        document.getElementById('status').innerHTML = 'You have successfully logout from Facebook.';
    });
}
</script>
</body>
</html>